<%- include("partials/header.ejs") %>

<div class="loginContent">
<img
    src="./ProjectGarbodorLogo.png"
    id="projectLogo"
/>
<h2>A place to be toxic alone.</h2>
<p>Sign in by typing "garbodor" bellow:</p>
<form action="/submit" method="POST">
    <input type="text" name="password" id="password">
    <input type="submit" value="Enter" class="enterBtn">
</form>
</div>


<%- include("partials/footer.ejs") %>
